# ftp
download.ftp.host=
download.ftp.port=21
download.ftp.user=
download.ftp.password=
download.ftp.path=/downloads/

# redis
download.redis.server=localhost
download.redis.port=6379

download.server=http://localhost:8189